.section.hero {
  height: 100vh;
  background: #111606;
  color: #c6fb50;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  min-height: 100vh;
  width: 100%;
}

.left {
  padding: 1em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.content-list {
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.tab-list {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.tab-item {
  cursor: pointer;
  opacity: 0.3;

  &.active {
    opacity: 1;
    text-decoration: underline;
  }
}

.content-item {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1.3em;
}

h2 {
  font-size: 3.2rem;
  font-style: italic;
}

.desc {
  max-width: 520px;
  font-size: clamp(0.95rem, 1.1vw, 1.15rem);
  line-height: 1.6;
}


.right {
  display: flex;
  height: 100%;
}

.img-counter {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 10;

  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.05em;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  pointer-events: none;
}

.img-mask {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}